/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin:0;
    padding:0;
    box-sizing: border-box; /* Borders and padding are no longer added to total height and width */
}

body {
    /* Inherited */
    font-family: "Lato", sans-serif; /* Already imported in html file before calling this file */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7; /* Relative to default */
    color: #777;
    padding: 30px;
}

.header{
    height: 95vh; /* Viewport height */
    background-image: 
        linear-gradient(
                        to right bottom, 
                        hsla(111, 55%, 64%, 0.80), 
                        hsla(160, 64%, 43%, 0.8)
                        ),
        url('./img/hero.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}