/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin:0;
    padding:0;
    box-sizing: border-box; /* Borders and padding are no longer added to total height and width */
}

body {
    /* Inherited */
    font-family: "Lato", sans-serif; /* Already imported in html file before calling this file */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7; /* Relative to default */
    color: #777;
    padding: 30px;
}

.header{
    position: relative;
    height: 95vh; /* Viewport height */
    background-image: 
        linear-gradient(
                        to right bottom, 
                        hsla(111, 55%, 64%, 0.80), 
                        hsla(160, 64%, 43%, 0.8)
                        ),
        url('./img/hero.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.logo-box{
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo{
    height: 35px; /* width is auto adjusted */
}

.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
}

.heading-primary{
    color:#fff;
    text-transform: uppercase;

    /* Remove shakiness in animation
    This is to hide the back part of an element
    eg. If it gets flipped 180 degrees, should we 
    see the back part? */
    backface-visibility: hidden;
}

.heading-primary-main{
    /* Span element is by default inline. 
    Block display occupy entire with available to them
    And introduce line breaks before and after them. 
    */
    display:block; 
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    /* animation-delay: 2s;
    animation-iteration-count: 2; */
}

.heading-primary-sub{
    display:block; 
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.5px; 

    animation: moveInFromRight 1s ease-out;
    margin-bottom: 60px;
}

/* .heading-primary-main:hover{
    animation: moveInFromRight 1s ease-out;
} */

.btn:link,
.btn:visited {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
    padding: 15px 40px;
}

.btn::after{
    /* There needs to be a content property, 
    even if it is empty like below. 
    Otherwise the element won't show up.
    Also, the pseudo element has the same 
    display value as the original element */
    content:"";
    display: inline-block;
    
    /* Pseudo element is treated like a child */
    height: 100%;
    width: 100%;

    border-radius: 100px;

    position: absolute;
    top:0;
    left:0;

    transition: all 0.4s;
}

.btn:hover::after{
    /* z-index: 1; */
    transform: scale(1.6, 1.4);
    opacity: 0;
}

.btn-white::after{
    background-color: #fff;
    z-index: -1;
}

.btn-animated{
    animation: moveInFromBottom .5s ease-out .5s;
    /* Initialize with 0% properties from the animation */
    animation-fill-mode: backwards;
}

@keyframes moveInFromLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInFromRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInFromBottom{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
